@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,400;1,500&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

.movie-wrapper {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: auto;
    grid-template-areas:
        "title controls"
        "released rating"
        "media media"
        "genre ."
        "cast cast"
        "abstract abstract";
}

.reviews-section {
    width: 1200px;
    padding: 20px;
    background-color: rgb(238, 232, 232);
    border-radius: 8px;
}

.movie-title {
    font-size: 32px;
    grid-area: title;
}

.movie-controls {
    grid-area: controls;
    justify-self: end;
    align-self: center;
    font-size: 14px;
    text-decoration: underline;
    display: flex;
    flex-direction: column;
}

.movie-year {
    grid-area: released;
    font-size: 18px;
}

.movie-rating {
    grid-area: rating;
    justify-self: end;
    font-size: 18px;
}

.movie-media {
    grid-area: media;
}

.movie-genre {
    grid-area: genre;
    font-size: 18px;
    border: 1px solid #000000;
    border-radius: 45%;
    justify-self: start;
    padding: 8px;
}

.movie-cast {
    display: flex;
    grid-area: cast;
    justify-self: stretch;
    font-size: 14px;
}

.movie-cast p {
    margin-right: 20px;
}

.movie-abstract {
    grid-area: abstract;
    font-size: 16px;
    margin: 20px 0;
}

.bold-paragraph {
    font-weight: 500;
}

.review-wrapper {
    background-color: #fcf6f5ff;
    margin: 30px 0;
    padding: 10px;
    border-radius: 8px;
}
/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
} */

.user-avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 5px 5px 5px gray;
}

.container {
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    align-content: space-around;
    justify-content: center;
}

.container_2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.nostyle {
    text-decoration: none;
    color: inherit;
}

.iframe-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.movie-trailer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.back-link {
    text-decoration: underline;
    font-size: 14px;
}

@media screen and (min-width: 768px) {
  .movie-media {
    display: flex;
  }

  .movie-poster {
    width: 30%;
    margin-right: 10px;
  }

  .movie-title {
    font-size: 42px;
  }

  .movie-year {
    font-size: 22px;
  }

  .movie-rating {
    font-size: 22px;
  }

  .movie-genre {
    font-size: 22px;
  }

  .movie-cast {
    font-size: 20px;
  }

  .movie-abstract {
    font-size: 24px;
  }

  .movie-controls {
      font-size: 18px;
  }

  .back-link {
      font-size: 20px;
  }

}

@media screen and (max-width: 900px) {
    .container {
        flex-flow: column nowrap;
        gap: 1rem;
    }
}
/* Star rating start*/
.star-cb-group {
    /* remove inline-block whitespace */
    font-size: 0;
    /* flip the order so we can use the + and ~ combinators */
    unicode-bidi: bidi-override;
    direction: rtl;
    /* the hidden clearer */
}
.star-cb-group * {
    font-size: 2rem;
}
.star-cb-group > input {
    display: none;
}
.star-cb-group > input + label {
    /* only enough room for the star */
    display: inline-block;
    overflow: hidden;
    text-indent: 9999px;
    width: 1em;
    white-space: nowrap;
    cursor: pointer;
}
.star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -9999px;
    content: "☆";
    color: #888;
}
.star-cb-group > input:checked ~ label:before,
.star-cb-group > input + label:hover ~ label:before,
.star-cb-group > input + label:hover:before {
    content: "★";
    color: rgb(247, 234, 58);
    text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
    text-indent: -9999px;
    width: 0.5em;
    margin-left: -0.5em;
}
.star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
}
.star-cb-group:hover > input + label:before {
    content: "☆";
    color: #888;
    text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before,
.star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: rgb(247, 234, 58);
    text-shadow: 0 0 1px #333;
}

fieldset {
    border: 0;
    background: rgb(255, 255, 255);
    width: 20em;
}
/* star rating end */
